{:deps  {io.github.nextjournal/clerk    {:mvn/version "0.16.1016"}
         org.clojure/math.combinatorics {:mvn/version "0.3.0"}}
 :aliases
 {:nextjournal/clerk
  {:exec-fn   nextjournal.clerk/build!
   :exec-args {:paths ["src/drewverlee/bugs.clj"]}
   :nextjournal.clerk/aliases [:dev]}}}
